
      <!-- <h1> Your Album Suggestions are Crybaby by Melanie Martinez and Mind of Mine by ZAYN.
      <h1> Your TV show suggestions are Greys Anatomy and The Vampire Diaries. -->


<html>
  <head>
    <title> You Got: Pop! </title>
      <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
    <body>
      <h2 class="dif"> Here are your selections! </h2>
      <h2 class="listen">To listen</h2><br>
        <h2 class="listen"> 1989 by Taylor Swift </h2>
      <!-- <h1> Your Album Suggestions are 1989 by Taylor Swift and A Head Full of Dreams by Coldplay.
      <h1> Your TV show suggestions are How I Met Your Mother and New Girl. -->
      <h2 class="watch"> To watch </h2><br>
        <h2 class="watch"> How I Met Your Mother </h2>
<br><br><br><br><br>
      <button> Generate new result </button>
    </body>
</html>
