<html>
  <head>
    <title> You Got: Alternative! </title>
  </head>
    <body>
      <h1> Your Album Suggestions are Crybaby by Melanie Martinez and Mind of Mine by ZAYN.
      <h1> Your TV show suggestions are Greys Anatomy and The Vampire Diaries.
    </body>
</html>
