
      <!-- <h1> Your Album Suggestions are Crash My Party by Luke Bryan and The First Time by Kelsea Ballerini.
      <h1> Your TV show suggestions are Nashville and CMT Crossroads. -->

      <html>
        <head>
          <title> You Got: Country! </title>
            <link rel="stylesheet" type="text/css" href="css/styles.css">
        </head>
          <body>
            <h2 class="dif"> Here are your selections! </h2>
            <h2 class="listen">To listen</h2><br>
              <h2 class="listen"> Crash My Party by Luke Bryan </h2>
            <!-- <h1> Your Album Suggestions are 1989 by Taylor Swift and A Head Full of Dreams by Coldplay.
            <h1> Your TV show suggestions are How I Met Your Mother and New Girl. -->
            <h2 class="watch"> To watch </h2><br>
              <h2 class="watch"> Nashville </h2>
      <br><br><br><br><br>
            <button> Generate new result </button>
          </body>
      </html>
