
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Entertainment </title>
  </head>
  <body>
      <h1> Welcome to the Entertainment Generator. </h1>
      <form>
        <h2> What city would you like to live in? </h2>
        <input type="radio" name="pop" value="2" >New York <br>
        <input type="radio" name="alt" value="4">Portland <br>
        <input type="radio" name="rb" value="3"> Los Angeles <br>
        <input type="radio" name="country" value="1"> Nashville
        <h2> What's your ideal hangout? </h2>
          <input type="radio" name="pop" value="2" >Go out with friends <br>
          <input type="radio" name="alt" value="4">Have friends at home <br>
          <input type="radio" name="rb" value="3"> Go dancing or to a party <br>
          <input type="radio" name="country" value="1"> Go to a park or museum
        <h2> Pick a mood: </h2>
          <input type="radio" name="pop" value="2" >Upbeat <br>
          <input type="radio" name="alt" value="4">Emotional <br>
          <input type="radio" name="rb" value="1"> Somber <br>
          <input type="radio" name="country" value="3"> Deep <br>

          <button type = "submit"> see your results</button>
      </form>


  </body>
</html>
