<html>
  <head>
    <meta charset="UTF-8">
    <title> Entertainment </title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
      <h1> Welcome to the Entertainment Generator! </h1>
      <h4> There are so many options for tv shows and albums! Take this quiz to determine which album and TV show combination would be perfect for you.</h4>
      <form>
        <h2> What city would you like to live in? </h2>
        <img src= "http://www.newyorker.com/wp-content/uploads/2015/12/Veix-Goodbye-New-York-Color-1200.jpg">
        <br>
        <input type="radio" name="pop" value="2" >New York <br>
        <img src="http://wallpaper.zone/img/3267473.jpg">
        <br>
        <input type="radio" name="alt" value="4">Portland <br>
        <img src="http://usa.sae.edu/assets/Campuses/Los-Angeles/2015/Los_Angeles_city_view.jpg">
        <br>
        <input type="radio" name="rb" value="3">Los Angeles <br>
        <img src="http://www.travelandleisure.com/sites/default/files/styles/1600x1000/public/1428071023/NASHVILLE0415-skyline.jpg?itok=uRwBIOH_">
        <br>
        <input type="radio" name="country" value="1">Nashville
        <h2> What's your ideal hangout? </h2>
          <img src="http://img2.tvtome.com/i/u/aa0f2214136945d8c57879a5166c4271.jpg"><br>
          <input type="radio" name="pop" value="2" >Go out with friends <br>
          <img src="http://momsmagazine.com/wp-content/uploads/2014/10/momfriends.jpg"><br>
          <input type="radio" name="alt" value="4">Have friends at home <br>
          <input type="radio" name="rb" value="3">Go dancing or to a party <br>
          <input type="radio" name="country" value="1">Go to a park or museum
        <h2> Pick a mood: </h2>
          <input type="radio" name="pop" value="2" >Upbeat <br>
          <input type="radio" name="alt" value="4">Emotional <br>
          <input type="radio" name="rb" value="1">Somber <br>
          <input type="radio" name="country" value="3">Deep <br>
            <br>
          <button type = "submit"> See your results! </button>
      </form>


  </body>
</html>
