<html>
  <head>
    <title> You Got: Pop! </title>
      <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
    <body><center>
      <h1> Here are your selections! </h1>
      <h2 class="font">TO LISTEN</h2>
        <h2 class="listen"> 1989 by Taylor Swift </h2><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wyK7YuwUWsU" frameborder="0" allowfullscreen></iframe><br><br>
        <a href="https://itunes.apple.com/us/album/1989/id907242701"><img src="http://orig02.deviantart.net/533b/f/2015/161/a/e/itunes_13_icon__png__ico__icns__by_loinik-d8wqjzr.png"></a><img src="https://upload.wikimedia.org/wikipedia/en/f/f6/Taylor_Swift_-_1989.png">
		<h4 class="quote">"Like any great love, it keeps you guesssing.<br>Like any real love, it's ever changing. Like any true love, it drives you crazy but you know you wouldn't change anything."</h4>
		<!-- <link a href="itunes link"> -->
      <!-- <h1> Your Album Suggestions are 1989 by Taylor Swift and A Head Full of Dreams by Coldplay.
      <h1> Your TV show suggestions are How I Met Your Mother and New Girl. -->
      <h2 class="font"> TO WATCH</h2>
        <h2 class="watch"> How I Met Your Mother </h2>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/BJpDXIqRaw4" frameborder="0" allowfullscreen></iframe><br>
        <a href="https://www.netflix.com/browse"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/How_i_met_your_mother_logo.svg/1280px-How_i_met_your_mother_logo.svg.png"></a>
          <br>
        <h4 class="quote"> "Because sometimes even if you know how something’s gonna end that doesn’t mean you can’t enjoy the ride."</h4>
        <br><br><br><br><br>
      <!-- <button> Generate new result </button> -->
    </body>
</html>
