h1 {
  text-align: center;
  background-color: lavender;
  font-family: Oswald;
  border: solid navy 2px;
}
body {
  background-color: D1F2EB;
  color: navy;
  font-family: consalas;
}
input {
color: navy;
font-family: arial;
}
h2 {
  font-family: Oswald;
}

button {
  background-color: lavender;
  color: navy;
}
h4 {
  font-family: consolas;
}

img {
  height: 150px;
}
